<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<!--_____________________________________Link______________________________________-->
	<test thread-count="5" name="Link1">
		<parameter name="env" value="dev"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="paymentMode" value="link"></parameter>
		<parameter name="amount" value="1000"></parameter>
		<parameter name="merchant" value="15K"></parameter>
		<parameter name="tipOption" value="2"></parameter>
		<parameter name="tip" value="100"></parameter>
			<classes>
		      <class name="web.paymentTest.PaymentPagesVerification">
				 <methods>
					<include name="paymentPagesVerification"/>
		         </methods>
			  </class>
			  <class name="web.paymentTest.BankRedirection">
				 <methods>
					<include name="banksRedirectionTest"/>
		         </methods>
			  </class>
		    </classes>
	</test> <!-- Test -->
	<test thread-count="5" name="Link1">
		<parameter name="env" value="dev"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="paymentMode" value="link"></parameter>
		<parameter name="amount" value="1000"></parameter>
		<parameter name="merchant" value="25K"></parameter>
		<parameter name="tipOption" value="2"></parameter>
		<parameter name="tip" value="100"></parameter>
			<classes>
		      <class name="web.paymentTest.PaymentPagesVerification">
				 <methods>
					<include name="paymentPagesVerification"/>
		         </methods>
			  </class>
			</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="Link2">
		<parameter name="env" value="dev"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="paymentMode" value="link"></parameter>
		<parameter name="amount" value="1000"></parameter>
		<parameter name="merchant" value="15K"></parameter>
		<parameter name="tipOption" value="4"></parameter>
		<parameter name="tip" value="15000"></parameter>
			<classes>
			   <class name="web.paymentTest.TestTextFieldsInPaymentFlow">
				 <methods>
					<include name="enterTipToTestAmountLimit"/>
		         </methods>
			   </class>
		    </classes>
	</test> <!-- Test -->
	<test thread-count="5" name="Link3">
		<parameter name="env" value="dev"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="paymentMode" value="link"></parameter>
		<parameter name="amount" value="1000"></parameter>
		<parameter name="merchant" value="25K"></parameter>
		<parameter name="tipOption" value="4"></parameter>
		<parameter name="tip" value="25000"></parameter>
			<classes>
			   <class name="web.paymentTest.TestTextFieldsInPaymentFlow">
				 <methods>
					<include name="enterTipToTestAmountLimit"/>
		         </methods>
			   </class>
		    </classes>
	</test> <!-- Test -->
	<test thread-count="5" name="Link3">
		<parameter name="env" value="dev"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="paymentMode" value="link"></parameter>
		<parameter name="merchant" value="Suspended"></parameter>
			<classes>
		      <class name="web.paymentTest.PaymentPagesVerification">
			      <methods>
			      	<include name="suspendedBusinessVerification"/>
			      </methods>
		      </class>
		    </classes>
	</test> <!--  Test -->
	<test thread-count="5" name="Link4">
		<parameter name="env" value="dev"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="paymentMode" value="link"></parameter>
		<parameter name="merchant" value="Blocked"></parameter>
			<classes>
		      <class name="web.paymentTest.PaymentPagesVerification">
			      <methods>
			        <include name="blockedBusinessVerification"/>
			      </methods>
		      </class>
		    </classes>
	</test> <!--  Test -->
	<test thread-count="5" name="Link5">
		<parameter name="env" value="dev"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="paymentMode" value="link"></parameter>
		<parameter name="merchant" value="Fraudulent"></parameter>
			<classes>
		      <class name="web.paymentTest.PaymentPagesVerification">
			      <methods>
			        <include name="fraudulentBusinessVerification"/>
			      </methods>
		      </class>
		    </classes>
	</test> <!--  Test -->
<!-- _____________________________________Dynamic QR______________________________________-->
	<test thread-count="5" name="DynamicQR1">
		<parameter name="env" value="dev"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="paymentMode" value="dynamicQR"></parameter>
		<parameter name="amount" value="1000"></parameter>
		<parameter name="merchant" value="15K"></parameter>
		<parameter name="tipOption" value="2"></parameter>
		<parameter name="tip" value="100"></parameter>
			<classes>
		      <class name="web.paymentTest.PaymentPagesVerification">
				 <methods>
					<include name="paymentPagesVerification"/>
		         </methods>
			  </class>
			  <class name="web.paymentTest.BankRedirection">
				 <methods>
					<include name="banksRedirectionTest"/>
		         </methods>
			  </class>
		    </classes>
	</test> <!--  Test -->
	<test thread-count="5" name="DynamicQR1">
		<parameter name="env" value="dev"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="paymentMode" value="dynamicQR"></parameter>
		<parameter name="amount" value="1000"></parameter>
		<parameter name="merchant" value="25K"></parameter>
		<parameter name="tipOption" value="2"></parameter>
		<parameter name="tip" value="100"></parameter>
			<classes>
		      <class name="web.paymentTest.PaymentPagesVerification">
				 <methods>
					<include name="paymentPagesVerification"/>
		         </methods>
			  </class>
		    </classes>
	</test> <!--  Test -->
	<test thread-count="5" name="DynamicQR2">
		<parameter name="env" value="dev"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="paymentMode" value="dynamicQR"></parameter>
		<parameter name="amount" value="1000"></parameter>
		<parameter name="merchant" value="15K"></parameter>
		<parameter name="tipOption" value="4"></parameter>
		<parameter name="tip" value="15000"></parameter>
			<classes>
			   <class name="web.paymentTest.TestTextFieldsInPaymentFlow">
				 <methods>
					<include name="enterTipToTestAmountLimit"/>
		         </methods>
			   </class>
		    </classes>
	</test> <!-- Test -->
	<test thread-count="5" name="DynamicQR2">
		<parameter name="env" value="dev"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="paymentMode" value="dynamicQR"></parameter>
		<parameter name="amount" value="1000"></parameter>
		<parameter name="merchant" value="25K"></parameter>
		<parameter name="tipOption" value="4"></parameter>
		<parameter name="tip" value="25000"></parameter>
			<classes>
			   <class name="web.paymentTest.TestTextFieldsInPaymentFlow">
				 <methods>
					<include name="enterTipToTestAmountLimit"/>
		         </methods>
			   </class>
		    </classes>
	</test> <!-- Test -->
	<test thread-count="5" name="DynamicQR3">
		<parameter name="env" value="dev"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="paymentMode" value="dynamicQR"></parameter>
		<parameter name="merchant" value="Suspended"></parameter>
			<classes>
		      <class name="web.paymentTest.PaymentPagesVerification">
			      <methods>
			      	<include name="suspendedBusinessVerification"/>
			      </methods>
		      </class>
		    </classes>
	</test> <!--  Test -->
	<test thread-count="5" name="DynamicQR4">
		<parameter name="env" value="dev"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="paymentMode" value="dynamicQR"></parameter>
		<parameter name="merchant" value="Blocked"></parameter>
			<classes>
		      <class name="web.paymentTest.PaymentPagesVerification">
			      <methods>
			        <include name="blockedBusinessVerification"/>
			      </methods>
		      </class>
		    </classes>
	</test> <!--  Test -->
	<test thread-count="5" name="DynamicQR5">
		<parameter name="env" value="dev"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="paymentMode" value="dynamicQR"></parameter>
		<parameter name="merchant" value="Fraudulent"></parameter>
			<classes>
		      <class name="web.paymentTest.PaymentPagesVerification">
			      <methods>
			        <include name="fraudulentBusinessVerification"/>
			      </methods>
		      </class>
		    </classes>
	</test> <!--  Test -->
<!-- _____________________________________Physical QR_____________________________________-->
	<test thread-count="5" name="PhysicalQR1">
		<parameter name="env" value="dev"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="paymentMode" value="physicalQR"></parameter>
		<parameter name="amount" value="1000"></parameter>
		<parameter name="merchant" value="15K"></parameter>
		<parameter name="tipOption" value="2"></parameter>
		<parameter name="tip" value="100"></parameter>
			<classes>
		      <class name="web.paymentTest.PaymentPagesVerification">
				 <methods>
					<include name="paymentPagesVerification"/>
		         </methods>
			  </class>
			  <class name="web.paymentTest.BankRedirection">
				 <methods>
					<include name="banksRedirectionTest"/>
		         </methods>
			  </class>
		    </classes>
	</test> <!--  Test -->
	<test thread-count="5" name="PhysicalQR1">
		<parameter name="env" value="dev"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="paymentMode" value="physicalQR"></parameter>
		<parameter name="amount" value="1000"></parameter>
		<parameter name="merchant" value="25K"></parameter>
		<parameter name="tipOption" value="2"></parameter>
		<parameter name="tip" value="100"></parameter>
			<classes>
		      <class name="web.paymentTest.PaymentPagesVerification">
				 <methods>
					<include name="paymentPagesVerification"/>
		         </methods>
			  </class>
		    </classes>
	</test> <!--  Test -->
	<test thread-count="5" name="PhysicalQR2">
		<parameter name="env" value="dev"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="paymentMode" value="physicalQR"></parameter>
		<parameter name="amount" value="15001"></parameter>
		<parameter name="merchant" value="15K"></parameter>
		<parameter name="tipOption" value="2"></parameter>
		<parameter name="tip" value="100"></parameter>
			<classes>
			   <class name="web.paymentTest.TestTextFieldsInPaymentFlow">
				 <methods>
					<include name="enterAmountLimitTest"/>
		         </methods>
			   </class>
		    </classes>
	</test> <!-- Test -->
	<test thread-count="5" name="PhysicalQR2">
		<parameter name="env" value="dev"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="paymentMode" value="physicalQR"></parameter>
		<parameter name="amount" value="25001"></parameter>
		<parameter name="merchant" value="25K"></parameter>
		<parameter name="tipOption" value="2"></parameter>
		<parameter name="tip" value="100"></parameter>
			<classes>
			   <class name="web.paymentTest.TestTextFieldsInPaymentFlow">
				 <methods>
					<include name="enterAmountLimitTest"/>
		         </methods>
			   </class>
		    </classes>
	</test> <!-- Test -->
	<test thread-count="5" name="PhysicalQR3">
		<parameter name="env" value="dev"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="paymentMode" value="physicalQR"></parameter>
		<parameter name="amount" value="1000"></parameter>
		<parameter name="merchant" value="15K"></parameter>
		<parameter name="tipOption" value="4"></parameter>
		<parameter name="tip" value="15000"></parameter>
			<classes>
			   <class name="web.paymentTest.TestTextFieldsInPaymentFlow">
				 <methods>
					<include name="enterTipToTestAmountLimit"/>
		         </methods>
			   </class>
		    </classes>
	</test> <!-- Test -->
	<test thread-count="5" name="PhysicalQR3">
		<parameter name="env" value="dev"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="paymentMode" value="physicalQR"></parameter>
		<parameter name="amount" value="1000"></parameter>
		<parameter name="merchant" value="25K"></parameter>
		<parameter name="tipOption" value="4"></parameter>
		<parameter name="tip" value="25000"></parameter>
			<classes>
			   <class name="web.paymentTest.TestTextFieldsInPaymentFlow">
				 <methods>
					<include name="enterTipToTestAmountLimit"/>
		         </methods>
			   </class>
		    </classes>
	</test> <!-- Test -->
	<test thread-count="5" name="PhysicalQR4">
		<parameter name="env" value="dev"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="paymentMode" value="physicalQR"></parameter>
		<parameter name="amount" value="0.1"></parameter>
		<parameter name="merchant" value="15K"></parameter>
		<parameter name="tipOption" value="2"></parameter>
		<parameter name="tip" value="100"></parameter>
			<classes>
			   <class name="web.paymentTest.TestTextFieldsInPaymentFlow">
				 <methods>
					<include name="enterAmountLimitTest"/>
		         </methods>
			  </class>
		    </classes>
	</test> <!-- Test -->
	<test thread-count="5" name="PhysicalQR5">
		<parameter name="env" value="dev"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="paymentMode" value="physicalQR"></parameter>
		<parameter name="merchant" value="Suspended"></parameter>
			<classes>
		      <class name="web.paymentTest.PaymentPagesVerification">
			      <methods>
			      	<include name="suspendedBusinessVerification"/>
			      </methods>
		      </class>
		    </classes>
	</test> <!--  Test -->
	<test thread-count="5" name="PhysicalQR6">
		<parameter name="env" value="dev"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="paymentMode" value="physicalQR"></parameter>
		<parameter name="merchant" value="Blocked"></parameter>
			<classes>
		      <class name="web.paymentTest.PaymentPagesVerification">
			      <methods>
			        <include name="blockedBusinessVerification"/>
			      </methods>
		      </class>
		    </classes>
	</test> <!--  Test -->
	<test thread-count="5" name="PhysicalQR7">
		<parameter name="env" value="dev"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="paymentMode" value="physicalQR"></parameter>
		<parameter name="merchant" value="Fraudulent"></parameter>
			<classes>
		      <class name="web.paymentTest.PaymentPagesVerification">
			      <methods>
			        <include name="fraudulentBusinessVerification"/>
			      </methods>
		      </class>
		    </classes>
	</test> <!--  Test -->
<!-- _____________________________________Static QR______________________________________-->
	<test thread-count="5" name="StaticQR1">
		<parameter name="env" value="dev"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="paymentMode" value="staticQR"></parameter>
		<parameter name="amount" value="1000"></parameter>
		<parameter name="merchant" value="15K"></parameter>
		<parameter name="tipOption" value="2"></parameter>
		<parameter name="tip" value="100"></parameter>
			<classes>
		      <class name="web.paymentTest.PaymentPagesVerification">
				 <methods>
					<include name="paymentPagesVerification"/>
		         </methods>
			  </class>
			  <class name="web.paymentTest.BankRedirection">
				 <methods>
					<include name="banksRedirectionTest"/>
		         </methods>
			  </class>
		    </classes>
	</test> <!--  Test -->
	<test thread-count="5" name="StaticQR1">
		<parameter name="env" value="dev"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="paymentMode" value="staticQR"></parameter>
		<parameter name="amount" value="1000"></parameter>
		<parameter name="merchant" value="25K"></parameter>
		<parameter name="tipOption" value="2"></parameter>
		<parameter name="tip" value="100"></parameter>
			<classes>
		      <class name="web.paymentTest.PaymentPagesVerification">
				 <methods>
					<include name="paymentPagesVerification"/>
		         </methods>
			  </class>
		    </classes>
	</test> <!--  Test -->
	<test thread-count="5" name="StaticQR2">
		<parameter name="env" value="dev"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="paymentMode" value="staticQR"></parameter>
		<parameter name="amount" value="15001"></parameter>
		<parameter name="merchant" value="15K"></parameter>
		<parameter name="tipOption" value="2"></parameter>
		<parameter name="tip" value="100"></parameter>
			<classes>
			   <class name="web.paymentTest.TestTextFieldsInPaymentFlow">
				 <methods>
					<include name="enterAmountLimitTest"/>
		         </methods>
			   </class>
		    </classes>
	</test> <!-- Test -->
	<test thread-count="5" name="StaticQR2">
		<parameter name="env" value="dev"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="paymentMode" value="staticQR"></parameter>
		<parameter name="amount" value="25001"></parameter>
		<parameter name="merchant" value="25K"></parameter>
		<parameter name="tipOption" value="2"></parameter>
		<parameter name="tip" value="100"></parameter>
			<classes>
			   <class name="web.paymentTest.TestTextFieldsInPaymentFlow">
				 <methods>
					<include name="enterAmountLimitTest"/>
		         </methods>
			   </class>
		    </classes>
	</test> <!-- Test -->
	<test thread-count="5" name="StaticQR3">
		<parameter name="env" value="dev"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="paymentMode" value="staticQR"></parameter>
		<parameter name="amount" value="1000"></parameter>
		<parameter name="merchant" value="15K"></parameter>
		<parameter name="tipOption" value="4"></parameter>
		<parameter name="tip" value="15000"></parameter>
			<classes>
			   <class name="web.paymentTest.TestTextFieldsInPaymentFlow">
				 <methods>
					<include name="enterTipToTestAmountLimit"/>
		         </methods>
			   </class>
		    </classes>
	</test> <!-- Test -->
	<test thread-count="5" name="StaticQR3">
		<parameter name="env" value="dev"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="paymentMode" value="staticQR"></parameter>
		<parameter name="amount" value="1000"></parameter>
		<parameter name="merchant" value="25K"></parameter>
		<parameter name="tipOption" value="4"></parameter>
		<parameter name="tip" value="25000"></parameter>
			<classes>
			   <class name="web.paymentTest.TestTextFieldsInPaymentFlow">
				 <methods>
					<include name="enterTipToTestAmountLimit"/>
		         </methods>
			   </class>
		    </classes>
	</test> <!-- Test -->
	<test thread-count="5" name="StaticQR4">
		<parameter name="env" value="dev"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="paymentMode" value="staticQR"></parameter>
		<parameter name="amount" value="0.5"></parameter>
		<parameter name="merchant" value="15K"></parameter>
		<parameter name="tipOption" value="2"></parameter>
		<parameter name="tip" value="100"></parameter>
			<classes>
			   <class name="web.paymentTest.TestTextFieldsInPaymentFlow">
				 <methods>
					<include name="enterAmountLimitTest"/>
		         </methods>
			  </class>
		    </classes>
	</test> <!-- Test -->
	<test thread-count="5" name="StaticQR5">
		<parameter name="env" value="dev"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="paymentMode" value="staticQR"></parameter>
		<parameter name="merchant" value="Suspended"></parameter>
			<classes>
		      <class name="web.paymentTest.PaymentPagesVerification">
			      <methods>
			      	<include name="suspendedBusinessVerification"/>
			      </methods>
		      </class>
		    </classes>
	</test> <!--  Test -->
	<test thread-count="5" name="StaticQR6">
		<parameter name="env" value="dev"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="paymentMode" value="staticQR"></parameter>
		<parameter name="merchant" value="Blocked"></parameter>
			<classes>
		      <class name="web.paymentTest.PaymentPagesVerification">
			      <methods>
			        <include name="blockedBusinessVerification"/>
			      </methods>
		      </class>
		    </classes>
	</test> <!--  Test -->
	<test thread-count="5" name="StaticQR7">
		<parameter name="env" value="dev"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="paymentMode" value="staticQR"></parameter>
		<parameter name="merchant" value="Fraudulent"></parameter>
			<classes>
		      <class name="web.paymentTest.PaymentPagesVerification">
			      <methods>
			        <include name="fraudulentBusinessVerification"/>
			      </methods>
		      </class>
		    </classes>
	</test> <!--  Test -->
</suite> <!-- Suite -->
